@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap');
/* Styles */
body {
    font-family: "Bitcount Grid Single", system-ui;
    margin: 0;
    padding: 2rem;
    color: #000000;
    font-size: 30px;
}

.largegrid {
    color: #ff6b1a;
    font-family: "Jersey 10 Charted", sans-serif;
    font-size: 100px;
}

.barcode {
    color: #ff6b1a;
    font-family: "Libre Barcode 39 Text", system-ui;
    font-size: 100px;

}

p {
    opacity: 0.7;
}

.centered {
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    
}